<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ page.headTitle }}</title>

  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
  <meta name="generator" content="{{ page.generator }} (on PHP {{ page.phpVersion }})">
  {{ prevnextlinks({type:'header-links'}) }}
{#  {{ snippet('favicon') }}  -> requires plugin https://getkirby.com/plugins/moritzebeling/kirby-favicon #}

  {{ page.headInjections|raw }}
</head>

<body id='pfy' class='pfy-default-styling pfy-auto-tabulator {{ page.bodyTagClasses|raw }}' {{ page.bodyTagAttributes|raw }}>

<div class='pfy-page'>

  <div class="pfy-header-wrapper">

    <header class='pfy-header v-align-with-nav'>
      {{ page.homeLink | raw }}
    </header>

    {{ nav({ type: 'top' }) }}

    {{ prevnextlinks({'wrapperClass':'pfy-large-screen-only pfy-full-width'}) }}

  </div><!-- /pfy-header-wrapper -->



  <div class="pfy-main-wrapper">

    <!-- === page content =============== -->
    <main id='main' class='pfy-main'>

      {{ page.pageContent | raw }}

    </main>
    <!-- === /page content =============== -->



    <footer class="pfy-footer">

      <div class="pfy-footer-sitemap">

        {{ nav({type: 'sitemap' }) }}

        {{ prevnextlinks({center: '%loginButton%'}) }}

      </div>

{% if page.localhost %}

      <div class="dev-footer pfy-localhost-only">
        <div>
          {{ page.adminPanelLink | raw }}
        </div>
        <div>
          {{ page.loggedIn }} {{ page.loginButton|raw }}
        </div>
        <div>
          [{{ link({ url: '~page/?debug=reset', text: 'debug auto' }) }}
          {{ link({ url: '~page/?debug=false', text: 'debug off' }) }}]
        </div>
      </div>
{% endif %}
    </footer>



  {{ page.smallScreenHeader|raw }}

  </div><!-- /pfy-main-wrapper -->

</div><!-- /.pfy-page -->

{# {{ countvisits({show:false}) }} #}

{{ page.bodyEndInjections|raw }}
</body>
</html>

